# MVP DigiKawsay Dependencies
# Channel Layer & Agente00
fastapi>=0.111.0
uvicorn>=0.30.1
pydantic>=2.7.4

# LangGraph & VAL Service
langchain-core>=0.2.9
langchain-google-genai>=1.0.6
langgraph>=0.0.69

# GCP / PubSub
google-cloud-pubsub>=2.21.3
google-cloud-secret-manager>=2.20.0

# Checkpointing
langgraph-checkpoint-postgres>=2.0.0
psycopg-pool>=3.2.2
psycopg>=3.1.19
requests>=2.31.0

# Persistencia
psycopg2-binary>=2.9.9
weaviate-client>=4.6.4
